

@font-face {
    font-family: 'TomsHandwritten';
    src: url('../fonts/toms/280747_0_0.eot');
    src: url('../fonts/toms/280747_0_0.eot') format('embedded-opentype'), url('../fonts/toms/280747_0_0.woff') format('woff'), url('../fonts/toms/280747_0_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
