 body {
    font-size: 20px; 
   font-family: Tahoma; 
	margin-top: 50px;
	background: #feffff;
	 background: -moz-radial-gradient(center, ellipse cover, #feffff 0%, #d2ebf9 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #feffff 0%,#d2ebf9 100%);
    background: -o-radial-gradient(center, ellipse cover, #feffff 0%,#d2ebf9 100%);
    background: -ms-radial-gradient(center, ellipse cover, #feffff 0%,#d2ebf9 100%);
    background: radial-gradient(center, ellipse cover, #feffff 0%,#d2ebf9 100%);
   }
   textarea {
    resize: none;
	overflow: auto;
	border: 1px solid #cccccc; 
	-webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
	border-radius: 3px; 
   -webkit-border-radius: 3px; 
   -moz-border-radius: 3px; 
   -khtml-border-radius: 3px; 
   height: 150px; 
   width: 300x;  
   font-size: 11px; 
   font-family: Tahoma; 
   }
   textarea.update{
	   width:90%;
	   height:500px;
	   margin-left:5%;
   }
   h1 {
    font-size: 34px; 
    margin: 0;
    color: #FFFFFF; 
   }
   h2 {
    margin-top: 0;
   }
   i.mess{
	position: fixed;
	margin: 50% 10px 20px 5px;
   }
   #header { 
    background: #0080c0; 
	border: 1px solid #333; 
	width: 100%;
	position: absolute;
	padding-top:50px;
	opacity: 0.7;
	top: 0px; 
	left: 0px;
	
   }
	#book_size{
		height:300px;
		width:170px;
		
	}
   #sidebar { 
    border: 1px solid #333;
    width: 15%; 
    padding: 5px; 
    margin: 0px 10px 20px 5px; 

	background: #A5D9F3;
	border-radius: 3px; 
   -webkit-border-radius: 3px; 
   -moz-border-radius: 3px; 
   -khtml-border-radius: 3px; 
   }
   #content { 
    margin: 100px 5px 20px 18%; 
    padding: 1px;
    border: 1px solid #333; 
	min-height: 600px;
	-webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
			border-radius: 3px; 
   -webkit-border-radius: 3px; 
   -moz-border-radius: 3px; 
   -khtml-border-radius: 3px; 
   }

    ul{
	margin: 0;
	padding: 0;
}

	ul.nav li {
	background: #A5D9F3;
	border: 1px solid #feffff;
	list-style: none;
	width: 100%;         
	-webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
			border-radius: 3px; 
   -webkit-border-radius: 3px; 
   -moz-border-radius: 3px; 
   -khtml-border-radius: 3px; 
}
	ul.nav li a {
	text-decoration: none;
	display: block;
	padding: 5px 5px 5px 15px;
	-webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
			
}
	ul.nav li ul {
	display: none;
}
	ul.nav li:hover {

	position: relative;
	background: #75C4EB;
}
	ul.nav li:hover > ul {
	display: block;
}
	ul.nav li:hover ul{
	position: absolute;
	top: 0px;     
	left: 100%; 
}

table.table_col{
	background: #A5D9F3;
	width: 100%;
	border-top: 1px solid  #A5D9F3;
	text-align: center;
}
td{
	-webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;

			color: black;
			padding: 20px
}
tr{
	-webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

a.delete{
	background:#A5D9F3;
	text-decoration: none;
	 color: black;
}
a.delete:hover{
	font-size: 12px;
    color: #D2ECF9; 
}

#comment{
	border: 1px solid #cccccc; 
	border-radius: 3px; 
   -webkit-border-radius: 3px; 
   -moz-border-radius: 3px; 
   -khtml-border-radius: 3px; 
   height: 20%; 
   min-height: 100px; 
   width: 40%;  
   font-size: 20px; 
   font-family: Tahoma; 
   -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

